.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    background-color: slateblue;
    color: #FFF;
    font-weight: bold;
    padding: 20px;
    font-size: 15px;
    width: 250px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: springgreen;
    transform: scale(1.04);
}