.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.min_height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 1130px) {
    .container {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 700px;
    }
}
