*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  height: 100vh;
  background-color: rgb(26, 37, 49); 
  color: #DDD; 
}